body {
    background-color: #28443399;
    margin: 0;
    padding: 0;
}

/* les dimmensions et bgc du tableau */
table {
    width: 150px;
    height: 150px;
    background: gray;
}


/* les parametres boutons*/
.bouton {
    display: inline;
    border-radius: 10px;
}


/* les styles de cellule mortes ou vivantes*/
.vivant {
    background-color: white;
}

.mort {
    background-color: gray;
}