body {
    background-color: white;
    margin: 0;
    padding: 0;
}

/* les dimmensions et bgc du tableau */
table {
    background: white;
    border-collapse: collapse;
    margin: 10px;
    width: 700px;
    height: 700px;
}

/* les parametres td*/
table td {
    border: 0.8px solid gray;
    /* transition: background-color .1s; */
}

/* les parametres boutons*/
.bouton {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 0.8px solid #201f1f;
    font-size: 10px;
    font-weight: bold;
    margin-right: 10px;
}

/* les styles de cellule mortes ou vivantes*/
.mort {
    background-color: white;
}

.vivant {
    background-color: #3a393c;
}
