body {
    background-color:white;
    margin: 0;
    padding: 0;
}

/* les dimmensions et bgc du tableau */
table {
    background: white;
    border-collapse: collapse;
    margin: 20px;
}


/* les parametres td*/
table td {
    padding: 15px;
    border: 1px solid gray;
    border-collapse: collapse;
    transition: background-color .1s;
}


/* les parametres boutons*/
.bouton {
    display: inline-block;
    width: 200px;
    height: 90px;
    background-color: white;
    font-size: 50px;
    margin-right: 30px;
}

.boutonStart {
    display: inline-block;
    width: 200px;
    height: 90px;
    background-color: white;
    font-size: 50px;
    margin-right: 30px;
}


/* les styles de cellule mortes ou vivantes*/
.vivant {
    background-color: white;
}

.mort {
    background-color: black;
}
